<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-business-trip">
      <div class="panel-heading">
        <div class="panel-title">
          <span class="glyphicon glyphicon-road">&nbsp;</span>
          <span><%=t "pages.business_trip.edit.title"%>:&nbsp;<%= @business_trip.fullname %></span>    
        </div>
      </div>
        <div class="panel-body">
          <div class="col-sm-1">
            <h1><span class="fa fa-edit"></span></h1> 
          </div> <!--/col-sm-1-->

          <%= render 'form_costs', business_trip: @business_trip %>
    
        </div>
    </div> <!-- /panel -->
  </div> <!-- /col-sm-12-->
</div> <!-- /row -->

