<h3><strong>P</strong>rogram <strong>O</strong>peracyjny Po<strong>L</strong>ska Cyfrow<strong>A</strong></h3>
<br>
<h4 class="text-justify">Celem POPC jest wzmocnienie cyfrowych fundamentów dla rozwoju kraju. Zgodnie z Umową Partnerstwa, jako fundamenty te przyjęto: szeroki dostęp do  szybkiego internetu, efektywne i przyjazne użytkownikom e-usługi publiczne oraz stale rosnący poziom kompetencji cyfrowych społeczeństwa. Zakres wsparcia w ramach POPC wpisuje się w cel tematyczny (CT) 2 Zwiększenie dostępności, stopnia wykorzystania i jakości technologii informacyjno-komunikacyjnych,będącego jednym z 11 celów tematycznych polityki spójności wyznaczonych na poziomie całej UE.
</h4>
