<h4><strong>Wykaz jest uaktualniany raz na dobę.</strong></h4>
<br>
<h4>Pozwolenie umieszczane jest w wykazie dopiero po otrzymaniu przez UKE potwierdzenia dostarczenia pozwolenia do wnioskodawcy, a więc z pewnym opóźnieniem. Brak pozwolenia i znaku wywoławczego w wykazie nie musi oznaczać, że pozwolenie nie zostało wydane.
</h4>
