<div class="col-sm-12" class="clearfix">
  <div >
    <%= button_tag "Mapa - pokaż/wyczyść", type: "button", onclick: "geoClearFunction()", class: "btn btn-primary", title: 'Inicjuje lub czyści mapę', 'data-toggle' => 'tooltip' %>
  </div> <!--/col-sm-12 -->
  <br>
  <div >
    <div id="iapi" class="clearfix"></div>
  </div> <!--/col-sm-12 -->

</div> <!--/col-sm-12 -->

<script>
  // window.onload = function(){
  //   //initMap();  
  //   //myClearFunction();
  // };
</script>
