$('#through_events_opinion_file_preview_area').html('');
$('#through_events_opinion_file_preview_area').prepend('<div><%= image_tag @opinion.attached_file_url(:thumb), class: "img img-thumbnail" %></div>');
$('#through_events_opinion_file_preview_area').prepend('<div><strong>Plik:</strong> <%= @opinion.fullname %>, <%= @opinion.file_size %></div>');
