<div id="tab_attachments">
  <fieldset class="my-fieldset">
    <legend class="my-fieldset colored-title"><%= subtitle %>&nbsp;&nbsp;-&nbsp;&nbsp;<%= attachment_index_legend %></legend>

    <div class="row">
      <div class="col-sm-12">

      </div>
    </div>

  </fieldset>
</div>
