<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h4 id="myModalLabel">Edycja: <strong><%= @attachment.fullname %></strong></h4>
</div>

<%#= form_with(@attachment, local: false) do |f| %>

	<div class="modal-body">
	  <div><%= image_tag @attachment.attached_file_url(:thumb), class: "img img-thumbnail img-responsive" %></div>
	</div>

	<div class="modal-footer">
		<%= f.button :submit, "Log in", class: "btn btn-primary" %>
	  <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Zamknij</button>
	</div>

<%# end %>