$('#through_events_statement_file_preview_area').html('');
$('#through_events_statement_file_preview_area').prepend('<div><%= image_tag @statement.attached_file_url(:thumb), class: "img img-thumbnail" %></div>');
$('#through_events_statement_file_preview_area').prepend('<div><strong>Plik:</strong> <%= @statement.fullname %>, <%= @statement.file_size %></div>');
