<div class="panel-group" id="myaccordion">

  <!-- Charts -->
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-charts">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#myaccordion" href="#collapse_data_chart" >
          <div class="panel-heading">
            <div class="panel-title">
              <span class="glyphicon glyphicon-tasks">&nbsp;</span>
              <span><%=t "pages.charts" %></span>
              <i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
            </div> 
          </div>
        </a>
        <div id="collapse_data_chart" class="panel-collapse collapse in">
          <div class="panel-body">         

            <%= render 'data_charts' %>

          </div> <!-- /panel-body -->
        </div> <!-- /id="collapse_data_chart" -->
      </div> <!-- /panel -->
    </div> <!-- /col-sm-12-->
  </div> <!-- /row -->

</div> <!-- /class="panel-group" id="myaccordion" -->
