<div class="col-sm-12">
  <div class="row">

    <div id="regions_csv_div"></div>

  </div> <!--/row-->    
</div> <!--/col-sm-12-->    

<% content_for(:javascript) do %>
  <%= javascript_include_tag 'highmaps_regions_csv.js' %>
<% end %>


<div class="col-sm-12">
  <div class="row">
    <hr>
  </div> <!--/row-->    
</div> <!--/col-sm-12-->    


<div class="col-sm-12">
  <div class="row">

    <div id="regions_xml_div"></div>

  </div> <!--/row-->    
</div> <!--/col-sm-12-->    

<% content_for(:javascript) do %>
  <%= javascript_include_tag 'highmaps_regions_xml.js' %>
<% end %>

