<div id="tab_point_files">
  <fieldset class="my-fieldset">
    <legend class="my-fieldset colored-title"><%= subtitle %>&nbsp;&nbsp;-&nbsp;&nbsp;<%= point_file_index_legend %></legend>

    <h1>POINT FILES</h1>
    
  </fieldset>
</div>
