<div id="tab_proposal_files">
  <fieldset class="my-fieldset">
    <legend class="my-fieldset colored-title"><%= subtitle %>&nbsp;&nbsp;-&nbsp;&nbsp;<%= proposal_file_index_legend %></legend>

    <h1>PROPOSAL FILES</h1>
    
  </fieldset>
</div>