<br>
<div class="container-fluid"> 
  <div class="row">
    <div class="col-sm-2">
      <div class="center colored-title"><%= fa_icon("plus", size: '3x') %></div>
    </div>
    <div class="col-sm-10">
      <fieldset class="my-fieldset">
        <legend class="my-fieldset colored-title"><%= project_new_legend(@project) %></legend>
        <%= render 'form', project: @project %>
      </fieldset>
    </div>

  </div>

</div>
