<div class="col-sm-12">
  <table class="table table-hover">
    <thead>
      <tr>
        <th><%= XmlWybranaTechnologiaTable.human_attribute_name(:element_id) %></th>
        <th><%= XmlWybranaTechnologiaTable.human_attribute_name(:element_opis) %></th>
      </tr>
    <thead>
    <tbody>
      <% @proposal_file.xml_wybrana_technologia_tables.order(:element_id).each do |x| %>
        <tr>
          <td><%= x.element_id %></td>
          <td><%= x.element_opis %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>

