<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-proposal-file">
      <div class="panel-heading">
        <div class="panel-title">
          <span class="glyphicon glyphicon-book">&nbsp;</span>
          <span><%=t "pages.proposal_file.new.title" %></span>
        </div>
      </div>
        <div class="panel-body">
          <div class="col-sm-1">
            <h1><span class="fa fa-plus"></span></h1> 
          </div> <!--/col-sm-1-->

          <%= render 'form', project: @project, proposal_file: @proposal_file %>
    
        </div>
    </div> <!-- /panel -->
  </div> <!-- /col-sm-12-->
</div> <!-- /row -->

