$(document).ready(function() {

  $.fn.dataTable.ext.buttons.attachment_delete_selected = {
    text: '<span class="text-danger fa fa-trash"></span>',
    titleAttr: 'Usuń zaznaczone wiersze',
    className: 'btn btn-sm btn-default',
    init: function ( dt, node, config ) {
      var that = this;
      dt.on( 'select.dt.DT deselect.dt.DT', function () {
        that.enable( dt.rows( { selected: true } ).any() );
      });
      this.disable();
    },
    action: function ( e, dt, button, config ) {
      if (confirm('Czy na pewno chcesz usunąć zaznaczone wiersze?')) {
        $.map(oAttachmentableAttachmentsTable.rows( { selected: true } ).data(), function (item) {

          $.ajax({
            url: '/attachments/' + item.id,
            type: 'DELETE',
            async: true,
            success: function (response) {
              oAttachmentableAttachmentsTable.draw();
              toastr['success'](item.name + '<br>...został trwale usunięty');
            },
            error: function (xhr, ajaxOptions, thrownError) {
              console.log(xhr);
              if (xhr.status == 401) {
                window.location.reload();
              } else {
                getErrorMessage(xhr, thrownError);
              }
            }
          });

        });
      }
    }  
  };

  $.fn.dataTable.ext.buttons.attachment_download_selected = {
    text: '<span class="text-primary fa fa-download"></span>',
    titleAttr: 'Pobierz zaznaczone wiersze',
    className: 'btn btn-sm btn-default',
    init: function ( dt, node, config ) {
      var that = this;
      dt.on( 'select.dt.DT deselect.dt.DT', function () {
        that.enable( dt.rows( { selected: true } ).any() );
      });
      this.disable();
    },
    action: function ( e, dt, button, config ) {
      $.map(oAttachmentableAttachmentsTable.rows( { selected: true } ).data(), function (item) {

        null;

      });
    }  
  };

  $.fn.dataTable.ext.buttons.attachment_move_to_statement = {
    text: '<span class="fa fa-file-export"></span><br><span>Oświadczenia</span>',
    titleAttr: 'Przenieś zaznaczone wiersze do "Oświadczenia/Upoważnienia"',
    className: 'btn btn-xs btn-default',
    available: function ( dt, config ) {
      // var availableFor = ["Event"];
      // return ( (availableFor.indexOf( $('#attachmenable-attachments').data('attachmenable_type') ) > -1) );
      return (  $('#attachmenable-attachments').data('move_statement_access') );
    },
    init: function ( dt, node, config ) {
      var that = this;
      dt.on( 'select.dt.DT deselect.dt.DT', function () {
        that.enable( dt.rows( { selected: true } ).any() );
      });
      this.disable();
    },
    action: function ( e, dt, button, config ) {
      if (confirm('Czy na pewno chcesz przenieść plik(-i) do "Oświadczenia/Upoważnienia"?')) {
        $.map(oAttachmentableAttachmentsTable.rows( { selected: true } ).data(), function (item) {

          $.ajax({
            url: '/attachments/' + item.id + '/move_to_statement',
            type: 'POST',
            async: true,
            success: function (response) {
              oAttachmentableAttachmentsTable.draw();
              toastr['success']('"' + item.attached_file + '" został przeniesiony do "Oświadczenia/Upoważnienia"');
            },
            error: function (xhr, ajaxOptions, thrownError) {
              console.log(xhr);
              if (xhr.status == 401) {
                window.location.reload();
              } else {
                getErrorMessage(xhr, thrownError);
              }
            }
          });

        });
      };
    }  
  };

  $.fn.dataTable.ext.buttons.attachment_move_to_correspondence = {
    text: '<span class="fa fa-file-export"></span><br><span>Korespondencja</span>',
    titleAttr: 'Przenieś zaznaczone wiersze do "Korespondencja"',
    className: 'btn btn-xs btn-default',
    available: function ( dt, config ) {
      return (  $('#attachmenable-attachments').data('move_correspondence_access') );
    },
    init: function ( dt, node, config ) {
      var that = this;
      dt.on( 'select.dt.DT deselect.dt.DT', function () {
        that.enable( dt.rows( { selected: true } ).any() );
      });
      this.disable();
    },
    action: function ( e, dt, button, config ) {
      if (confirm('Czy na pewno chcesz przenieść plik(-i) do "Korespondencja"?')) {
        $.map(oAttachmentableAttachmentsTable.rows( { selected: true } ).data(), function (item) {

          $.ajax({
            url: '/attachments/' + item.id + '/move_to_correspondence',
            type: 'POST',
            async: true,
            success: function (response) {
              oAttachmentableAttachmentsTable.draw();
              toastr['success']('"' + item.attached_file + '" został przeniesiony do "Korespondencja"');
            },
            error: function (xhr, ajaxOptions, thrownError) {
              console.log(xhr);
              if (xhr.status == 401) {
                window.location.reload();
              } else {
                getErrorMessage(xhr, thrownError);
              }
            }
          });

        });
      }
    }  
  };


  $.fn.dataTable.ext.buttons.attachment_move_to_opinion = {
    text: '<span class="fa fa-file-export"></span><br><span>Oceny</span>',
    titleAttr: 'Przenieś zaznaczone wiersze do "Oceny/Opinie"',
    className: 'btn btn-xs btn-default',
    available: function ( dt, config ) {
      return (  $('#attachmenable-attachments').data('move_opinion_access') );
    },
    init: function ( dt, node, config ) {
      var that = this;
      dt.on( 'select.dt.DT deselect.dt.DT', function () {
        that.enable( dt.rows( { selected: true } ).any() );
      });
      this.disable();
    },
    action: function ( e, dt, button, config ) {
      if (confirm('Czy na pewno chcesz przenieść plik(-i) do "Oceny/Opinie"?')) {
        $.map(oAttachmentableAttachmentsTable.rows( { selected: true } ).data(), function (item) {

          $.ajax({
            url: '/attachments/' + item.id + '/move_to_opinion',
            type: 'POST',
            async: true,
            success: function (response) {
              oAttachmentableAttachmentsTable.draw();
              toastr['success']('"' + item.attached_file + '" został przeniesiony do "Oceny/Opinie"');
            },
            error: function (xhr, ajaxOptions, thrownError) {
              console.log(xhr);
              if (xhr.status == 401) {
                window.location.reload();
              } else {
                getErrorMessage(xhr, thrownError);
              }
            }
          });

        });
      }
    }  
  };


  $.fn.dataTable.ext.buttons.attachment_move_to_protocol = {
    text: '<span class="fa fa-file-export"></span><br><span>Protok. Odb.</span>',
    titleAttr: 'Przenieś zaznaczone wiersze do "Protokoły Odbioru"',
    className: 'btn btn-xs btn-default',
    available: function ( dt, config ) {
      return (  $('#attachmenable-attachments').data('move_protocol_access') );
    },
    init: function ( dt, node, config ) {
      var that = this;
      dt.on( 'select.dt.DT deselect.dt.DT', function () {
        that.enable( dt.rows( { selected: true } ).any() );
      });
      this.disable();
    },
    action: function ( e, dt, button, config ) {
      if (confirm('Czy na pewno chcesz przenieść plik(-i) do "Protokoły Odbioru"?')) {
        $.map(oAttachmentableAttachmentsTable.rows( { selected: true } ).data(), function (item) {

          $.ajax({
            url: '/attachments/' + item.id + '/move_to_protocol',
            type: 'POST',
            async: true,
            success: function (response) {
              oAttachmentableAttachmentsTable.draw();
              toastr['success']('"' + item.attached_file + '" został przeniesiony do "Protokoły Odbioru"');
            },
            error: function (xhr, ajaxOptions, thrownError) {
              console.log(xhr);
              if (xhr.status == 401) {
                window.location.reload();
              } else {
                getErrorMessage(xhr, thrownError);
              }
            }
          });

        });
      };
    }  
  };


  $.fn.dataTable.ext.buttons.attachment_move_to_inspection_protocol = {
    text: '<span class="fa fa-file-export"></span><br><span>Protok. Ogl.</span>',
    titleAttr: 'Przenieś zaznaczone wiersze do "Protokoły Oględzin"',
    className: 'btn btn-xs btn-default',
    available: function ( dt, config ) {
      return (  $('#attachmenable-attachments').data('move_inspection_protocol_access') );
    },
    init: function ( dt, node, config ) {
      var that = this;
      dt.on( 'select.dt.DT deselect.dt.DT', function () {
        that.enable( dt.rows( { selected: true } ).any() );
      });
      this.disable();
    },
    action: function ( e, dt, button, config ) {
      if (confirm('Czy na pewno chcesz przenieść plik(-i) do "Protokoły Oglądzin"?')) {
        $.map(oAttachmentableAttachmentsTable.rows( { selected: true } ).data(), function (item) {

          $.ajax({
            url: '/attachments/' + item.id + '/move_to_inspection_protocol',
            type: 'POST',
            async: true,
            success: function (response) {
              oAttachmentableAttachmentsTable.draw();
              toastr['success']('"' + item.attached_file + '" został przeniesiony do "Protokoły Oględzin"');
            },
            error: function (xhr, ajaxOptions, thrownError) {
              console.log(xhr);
              if (xhr.status == 401) {
                window.location.reload();
              } else {
                getErrorMessage(xhr, thrownError);
              }
            }
          });

        });
      };
    }  
  };


  $.fn.dataTable.ext.buttons.attachment_move_to_measurement = {
    text: '<span class="fa fa-file-export"></span><br><span>Pomiary</span>',
    titleAttr: 'Przenieś zaznaczone wiersze do "Pomiary"',
    className: 'btn btn-xs btn-default',
    available: function ( dt, config ) {
      return (  $('#attachmenable-attachments').data('move_measurement_access') );
    },
    init: function ( dt, node, config ) {
      var that = this;
      dt.on( 'select.dt.DT deselect.dt.DT', function () {
        that.enable( dt.rows( { selected: true } ).any() );
      });
      this.disable();
    },
    action: function ( e, dt, button, config ) {
      if (confirm('Czy na pewno chcesz przenieść plik(-i) do "Pomiary"?')) {
        $.map(oAttachmentableAttachmentsTable.rows( { selected: true } ).data(), function (item) {

          $.ajax({
            url: '/attachments/' + item.id + '/move_to_measurement',
            type: 'POST',
            async: true,
            success: function (response) {
              oAttachmentableAttachmentsTable.draw();
              toastr['success']('"' + item.attached_file + '" został przeniesiony do "Pomiary"');
            },
            error: function (xhr, ajaxOptions, thrownError) {
              console.log(xhr);
              if (xhr.status == 401) {
                window.location.reload();
              } else {
                getErrorMessage(xhr, thrownError);
              }
            }
          });

        });
      };
    }  
  };


  $.fn.dataTable.ext.buttons.attachment_move_to_documentation = {
    text: '<span class="fa fa-file-export"></span><br><span>Dokumentacja</span>',
    titleAttr: 'Przenieś zaznaczone wiersze do "Dokumentacja"',
    className: 'btn btn-xs btn-default',
    available: function ( dt, config ) {
      return (  $('#attachmenable-attachments').data('move_documentation_access') );
    },
    init: function ( dt, node, config ) {
      var that = this;
      dt.on( 'select.dt.DT deselect.dt.DT', function () {
        that.enable( dt.rows( { selected: true } ).any() );
      });
      this.disable();
    },
    action: function ( e, dt, button, config ) {
      if (confirm('Czy na pewno chcesz przenieść plik(-i) do "Dokumentacja"?')) {
        $.map(oAttachmentableAttachmentsTable.rows( { selected: true } ).data(), function (item) {

          $.ajax({
            url: '/attachments/' + item.id + '/move_to_documentation',
            type: 'POST',
            async: true,
            success: function (response) {
              oAttachmentableAttachmentsTable.draw();
              toastr['success']('"' + item.attached_file + '" został przeniesiony do "Dokumentacja"');
            },
            error: function (xhr, ajaxOptions, thrownError) {
              console.log(xhr);
              if (xhr.status == 401) {
                window.location.reload();
              } else {
                getErrorMessage(xhr, thrownError);
              }
            }
          });

        });
      };
    }  
  };


  $.fn.dataTable.ext.buttons.attachment_move_to_info = {
    text: '<span class="fa fa-file-export"></span><br><span>I.P.</span>',
    titleAttr: 'Przenieś zaznaczone wiersze do "Informacje Pokontrolne"',
    className: 'btn btn-xs btn-default',
    available: function ( dt, config ) {
      return (  $('#attachmenable-attachments').data('move_info_access') );
    },
    init: function ( dt, node, config ) {
      var that = this;
      dt.on( 'select.dt.DT deselect.dt.DT', function () {
        that.enable( dt.rows( { selected: true } ).any() );
      });
      this.disable();
    },
    action: function ( e, dt, button, config ) {
      if (confirm('Czy na pewno chcesz przenieść plik(-i) do "Informacje Pokontrolne"?')) {
        $.map(oAttachmentableAttachmentsTable.rows( { selected: true } ).data(), function (item) {

          $.ajax({
            url: '/attachments/' + item.id + '/move_to_info',
            type: 'POST',
            async: true,
            success: function (response) {
              oAttachmentableAttachmentsTable.draw();
              toastr['success']('"' + item.attached_file + '" został przeniesiony do "Informacje Pokontrolne"');
            },
            error: function (xhr, ajaxOptions, thrownError) {
              console.log(xhr);
              if (xhr.status == 401) {
                window.location.reload();
              } else {
                getErrorMessage(xhr, thrownError);
              }
            }
          });

        });
      };
    }  
  };


  $.fn.dataTable.ext.buttons.attachment_move_to_photo = {
    text: '<span class="fa fa-file-export"></span><br><span>Zdjęcia</span>',
    titleAttr: 'Przenieś zaznaczone wiersze do "Zdjęcia"',
    className: 'btn btn-xs btn-default',
    available: function ( dt, config ) {
      return (  $('#attachmenable-attachments').data('move_photo_access') );
    },
    init: function ( dt, node, config ) {
      var that = this;
      dt.on( 'select.dt.DT deselect.dt.DT', function () {
        that.enable( dt.rows( { selected: true } ).any() );
      });
      this.disable();
    },
    action: function ( e, dt, button, config ) {
      if (confirm('Czy na pewno chcesz przenieść plik(-i) do "Zdjęcia"?')) {
        $.map(oAttachmentableAttachmentsTable.rows( { selected: true } ).data(), function (item) {

          $.ajax({
            url: '/attachments/' + item.id + '/move_to_photo',
            type: 'POST',
            async: true,
            success: function (response) {
              oAttachmentableAttachmentsTable.draw();
              toastr['success']('"' + item.attached_file + '" został przeniesiony do "Zdjęcia"');
            },
            error: function (xhr, ajaxOptions, thrownError) {
              console.log(xhr);
              if (xhr.status == 401) {
                window.location.reload();
              } else {
                getErrorMessage(xhr, thrownError);
              }
            }
          });

        });
      };
    }  
  };


  var oAttachmentableAttachmentsTable = $('#attachmenable-attachments').DataTable({
    // dom: 'lBfrtip',
    dom: '<"top" <"row" <"col-sm-9" <"pull-left"l><"pull-left"B> > <"col-sm-3 pull-right"f> > > rt <"bottom"ip><"clear">',
    buttons: [
      {
        extend:    'colvis',
        text:      '<span class="fa fa-columns"></span>',
        titleAttr: 'Pokaż/ukryj kolumny',
        className: 'btn btn-sm btn-default',
        columns:   ':gt(2)' //exclude first col from list
      }, 
      'attachment_delete_selected',
//      'attachment_download_selected',
      'attachment_move_to_statement', 
//      'attachment_move_to_correspondence',
      'attachment_move_to_opinion',
      'attachment_move_to_protocol',
      'attachment_move_to_inspection_protocol',
      'attachment_move_to_measurement',
      'attachment_move_to_documentation',
      'attachment_move_to_info',
      'attachment_move_to_photo'
    ],
    select: {
      style: 'os',
      //style: 'multi',
      selector: 'td:first-child'
    },
//    rowReorder: true,
    rowReorder: {
      dataSrc: 'id',
      selector: 'td:nth-child(2)'
    },
    responsive: true,
    processing: true,
    serverSide: true,
    deferRender: true,
    searchDelay: 500,
    stateSave: true,
    stateDuration: 60 * 60 * 24 * 7,
    ajax: { 
      url: $('#attachmenable-attachments').data('source'),
      type: "GET",
      data: function(d){
        //d.attachment_parent_id = 8501;
        if (localStorage.getItem("ls_attachment_breadcrumb") === null) {
          d.attachment_parent_id = null
        } else {
          d.attachment_parent_id = JSON.parse(localStorage.getItem('ls_attachment_breadcrumb')).parent_id;
        }
      },
      error: function (jqXHR, exception) {
        console.log(jqXHR);
        if (jqXHR.status == 401) {
          window.location.reload();
        } else {
          getErrorMessage(jqXHR, exception);
        }
      }
    },
    pagingType: "full_numbers",
    lengthMenu: [[10, 15, 25, 50, 100, -1], [10, 15, 25, 50, 100, "Wszystkie"]],
    iDisplayLength: -1,
    columns: [
      {   
        "data": null, 
        "defaultContent": '',
        "sortable": false,
        "searchable": false,
        "className": 'select-checkbox',
        "orderable": false,
      },
      { "data": "id",
        "visible": false,
        "sortable": false,
        "searchable": false
      },
      { "data": "name" },
      { "data": "note" }, 
      { "data": "user" }, 
      { "data": "updated_at" }, 
      { "data": "file_size",
        "searchable": false,
        "sortable": false },
      { "data": "action",
        "searchable": false,
        "sortable": false }
    ],
    preDrawCallback: function( settings ) {
      // jezeli panel nie jest widoczny, to przerwij ładowanie danych
      if ( $( "#tab_attachments" ).is( ":hidden" ) ) {
        return false;
      }
    },
    order: [[ 2, "asc" ]],
    language: {
      url: '<%= asset_path("pl.json.erb") %>'
    },
    stateSaveCallback: function(settings,data) {
      localStorage.setItem( 'DataTables_attachmenable-attachments_/all', JSON.stringify(data) )
    },
    stateLoadCallback: function(settings) {
      return JSON.parse( localStorage.getItem( 'DataTables_attachmenable-attachments_/all' ) )
    }
  });


  oAttachmentableAttachmentsTable
  .on( 'draw', function () {
    oAttachmentableAttachmentsTable.rows().deselect();
  });


  oAttachmentableAttachmentsTable
  .on( 'row-reorder', function ( e, diff, edit ) {

    e.preventDefault();
    console.log( 'data.id:' );
    console.log( edit.triggerRow.data().id );
//    alert( edit.triggerRow.data() );

    console.log( 'e:' );
    console.log( e );
    console.log( 'diff:' );
    console.log( diff );

    var result = 'Reorder started on row: '+ edit.triggerRow.data()[1] + '<br>';
 
      for ( var i=0, ien=diff.length ; i<ien ; i++ ) {

          var rowData = oAttachmentableAttachmentsTable.row( diff[i].node ).data();

          result += rowData[1]+' updated to be in position '+
              diff[i].newData+' (was '+diff[i].oldData+')<br>';
      }

      $('#result').html( 'Event result:<br>'+result );
  });



  oAttachmentableAttachmentsTable
  .on( 'pre-row-reorder', function ( e, node, index ) {
      console.log( 'Row reorder started: ', node, index );
  } );
















  // jezeli nastepuje wyswietlenie tab, to zaladuj dane
  $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
    var target = $(e.target).attr("href") // activated tab
    if (target == '#attachments') {
      localStorage.removeItem('ls_attachment_breadcrumb'); //????
      oAttachmentableAttachmentsTable.draw();
    };
  });


  // column 'action' delete button
  $('#attachmenable-attachments tbody').on( 'click', 'button-as-link', function () {
    if (confirm('Czy na pewno chcesz usunać?')) {
      $.ajax({
        url: $(this).attr('ajax-path'),
        type: $(this).attr('ajax-method'),
        async: true,
        success: function (response) {
          oAttachmentableAttachmentsTable.draw();
          toastr['success']('wiersz został trwale usunięty');
        },
        error: function (xhr, ajaxOptions, thrownError) {
          console.log(xhr);
          if (xhr.status == 401) {
            window.location.reload();
          } else {
            getErrorMessage(xhr, thrownError);
          }
        }
      });
    };
  });


});
