$(document).ready(function() {
  function businessTripFilterColumnParams ( i ) {
    $('#business_trips-table').DataTable().column( i ).search(
      $('#col'+i+'filter').val(), false, true, true
    );
    $('#business_trips-table').DataTable().draw();
  };


  $.fn.dataTable.ext.buttons.business_trip_button_only_my_data = {
    //text: 'Wszystko',
    text: '<span class="fa fa-user-friends"></span>',
    titleAttr: 'Wszystkie/tylko moje',
    action: function ( e, dt, node, config ) {
      if (dt.button( 3 ).active() == false) {
        //dt.button( 3 ).text('Tylko moje');
        dt.button( 3 ).text('<span class="fa fa-user"></span> Tylko moje');
        dt.button( 3 ).active( true );
      } else {
        //dt.button( 3 ).text('Wszystko');
        dt.button( 3 ).text('<span class="fa fa-user-friends"></span>');
        dt.button( 3 ).active( false );
      };
      $('#business_trips-table').DataTable().draw();
    }
  };


  $.fn.dataTable.ext.buttons.business_trip_button_filter_show_hide = {
    //text: 'Filtr',
    text: '<span class="fa fa-filter"></span>',
    titleAttr: 'Filtrowanie po kolumnach',
    action: function ( e, dt, node, config ) {
      if ($('#business_trips-table').DataTable().tables().footer().to$().css('display') === 'none') {
        $('#business_trips-table').DataTable().tables().footer().to$().css('display', 'table-row-group');
        //dt.button( 4 ).text('Filtrowanie...');
        dt.button( 4 ).text('<span class="fa fa-filter"></span> Filtrowanie...');
        dt.button( 4 ).active( true );
      } else {
        $('#business_trips-table').DataTable().tables().footer().to$().css('display', 'none');
        //dt.button( 4 ).text('Filtr');
        dt.button( 4 ).text('<span class="fa fa-filter"></span>');
        dt.button( 4 ).active( false );
      }

      $($.fn.dataTable.tables(true)).DataTable()
        .columns.adjust()
        .responsive.recalc();
    }
  };



  var oBusinessTriptable = $('#business_trips-table').DataTable({
    dom: 'lBfrtip',
    buttons: [
      {
        extend:    'copy',
        text:      '<span class="fa fa-clipboard"></span>',
        titleAttr: 'Kopiuj do schowka'
      },
      {
        extend:    'csv',
        text:      '<span class="fa fa-file-csv"></span>',
        titleAttr: 'Kopiuj do CSV'
      },
      {
        extend:    'colvis',
        text:      '<span class="fa fa-columns"></span>',
        titleAttr: 'Pokaż/ukryj kolumny',
        columns:   ':gt(0)' //exclude first col from list
      },
      'business_trip_button_only_my_data', 'business_trip_button_filter_show_hide'
    ],
    responsive: true,
    processing: true,
    serverSide: true,
    deferRender: true,
    searchDelay: 500,
    ajax: { 
      url: $('#business_trips-table').data('source'),
      type: "GET",
      data: function(d){
        d.eager_filter_for_current_user = $('#business_trips-table').DataTable().button(3).active();
      },
      error: function (jqXHR, exception) {
        console.log(jqXHR);
        if (jqXHR.status == 401) {
          window.location.reload();
        } else {
          getErrorMessage(jqXHR, exception);
        }
      }
    },
    pagingType: "full_numbers",
    lengthMenu: [[10, 15, 25, 50, 100, -1], [10, 15, 25, 50, 100, "Wszystkie"]],
    columns: [
      { "data": "id", "visible": false },
      { "data": "number" }, 
      { "data": "employee" },
      { "data": "start_date" },
      { "data": "end_date" },
      { "data": "destination" },
      { "data": "purpose" },
      { "data": "status" }
    ],
    order: [[ 3, "desc" ]],
    language: {
      // buttons: {
      //   copy: 'Kopiuj',
      //   colvis: 'Kolumny'
      // },
      url: '<%= asset_path("pl.json.erb") %>'
    },


  });


  $('input.column_filter').on( 'keyup click', function () {
    businessTripFilterColumnParams( $(this).attr('data-column') );
  });

  $('select.column_filter').on( 'keyup click', function () {
    businessTripFilterColumnParams( $(this).attr('data-column') );
  });





  var oUserBusinessTripstable = $('#user-business_trips-table').DataTable({
    dom: 'lBfrtip',
    buttons: [
      'copy', 'csv', 'pdf', 'colvis'
    ],
    responsive: true,
    processing: true,
    serverSide: true,
    deferRender: true,
    searchDelay: 500,
    ajax: { 
      url: $('#user-business_trips-table').data('source'),
      type: "GET",
      error: function (jqXHR, exception) {
        console.log(jqXHR);
        if (jqXHR.status == 401) {
          window.location.reload();
        } else {
          getErrorMessage(jqXHR, exception);
        }
      }
    },
    pagingType: "full_numbers",
    lengthMenu: [[10, 15, 25, 50, 100, -1], [10, 15, 25, 50, 100, "Wszystkie"]],
    iDisplayLength: -1,
    columns: [
      { "data": "id",
        "visible": false },
      { "data": "number" }, 
      { "data": "start_date" },
      { "data": "end_date" },
      { "data": "destination" },
      { "data": "purpose" },
      { "data": "status" }
    ],
    preDrawCallback: function( settings ) {
      // jezeli panel nie jest widoczny, to przerwij ładowanie danych
      if ( $( "#collapse_user_business_trips" ).is( ":hidden" ) ) {
        return false;
      }
    },
    order: [[ 2, "desc" ]],
    language: {
      buttons: {
        copy: 'Kopiuj',
        colvis: 'Kolumny'
      },
      url: '<%= asset_path("pl.json.erb") %>'
    }
  });


  // jezeli nastepuje wyswietlenie panelu, to zaladuj dane
  $('#collapse_user_business_trips').on('shown.bs.collapse', function (){
    oUserBusinessTripstable.draw();
  });



});