//document.addEventListener('turbolinks:load', function() {
$(document).ready(function() {
  $('.select2errand').select2({
    minimumInputLength: 1,
    allowClear: false,
    ajax: {
      url: "/errands/select2_index.json",
      dataType: 'json',
      quietMillis: 250,
      type: 'GET',
      data: function(term, page) {
        return {
          q: term,
          page_limit: 10,
          page: page
        };
      },
      results: function(data, page) {
        //var more = (page * 10) < data.total_count;
        var more = (page * 10) < data.meta.total_count;
        var errands = $.map(data.errands, function(errand, i) {
          return { id: errand.id, text: errand.fullname };
        });
        return { results: errands, more: more };
      }
    },
    formatAjaxError: function(jqXHR, textStatus, errorThrown) {
      console.log(jqXHR);
      if (jqXHR.status == 401) {
        window.location.reload();
      } else {
        getErrorMessage(jqXHR, jqXHR.status);
      }
      return errorThrown + " " + jqXHR.responseText;
    },
    initSelection: function(element, callback) {
      var id=$(element).val();
      if (id!=="") {
        $.get("/errands/"+id+".json", function(data_from_json) {
          if(data_from_json)
            callback({ id: data_from_json.id, text: data_from_json.fullname });
        });
      }
    },
    dropdownCssClass: "bigdrop"
  });



  var oErrandtable = $('#errands-table').DataTable({
    // dom: 'lBfrtip',
    dom: '<"top" <"row" <"col-sm-6" <"pull-left"l><"pull-left"B> > <"col-sm-6 pull-right"f> > > rt <"bottom"ip><"clear">',
    buttons: [
      {
        extend:    'copy',
        text:      '<span class="fa fa-clipboard"></span>',
        titleAttr: 'Kopiuj do schowka',
        className: 'btn btn-sm btn-default'
      },
      {
        extend:    'csv',
        text:      '<span class="fa fa-file-csv"></span>',
        titleAttr: 'Kopiuj do CSV',
        className: 'btn btn-sm btn-default'
      },
      {
        extend:    'colvis',
        text:      '<span class="fa fa-columns"></span>',
        titleAttr: 'Pokaż/ukryj kolumny',
        className: 'btn btn-sm btn-default',
        columns:   ':gt(0)' //exclude first col from list
      }    
    ],
    responsive: true,
    processing: true,
    serverSide: true,
    deferRender: true,
    searchDelay: 500,
    stateSave: true,
    stateDuration: 60 * 60 * 24 * 7,
    ajax: { 
      url: $('#errands-table').data('source'),
      type: "GET",
      error: function (jqXHR, exception) {
        console.log(jqXHR);
        if (jqXHR.status == 401) {
          window.location.reload();
        } else {
          getErrorMessage(jqXHR, exception);
        }
      }
    },
    pagingType: "full_numbers",
    lengthMenu: [[10, 15, 25, 50, 100, -1], [10, 15, 25, 50, 100, "Wszystkie"]],
    columns: [
      { "data": "id", "visible": false }, 
      { "data": "number" }, 
      { "data": "order_date" },
      { "data": "principal" },
      { "data": "adoption_date" },
      { "data": "start_date" },
      { "data": "end_date" },
      { "data": "status" },
      { "data": "attachments_count" }
    ],
    order: [[ 1, "asc" ]],
    language: {
      // buttons: {
      //   copy: 'Kopiuj',
      //   colvis: 'Kolumny'
      // },
      url: '<%= asset_path("pl.json.erb") %>'
    }
  });
 

});
