function initMap() {
  ILITEAPI.init({
    "divId" : "iapi",
    "width" : "100%",
    "height" : "50em",
    "activeGpMaps" : ["gp0","gp1"],
    "activeGpMapId" : "gp0",
    "activeGpActions" : ["pan","fullExtent", "zoomIn"],
    "useMenu": true,
    "scale" : 100000,
    "marker" : [
      { "sr": 4326,
        "x" : 18.07317284,
        "y" : 53.20156732,
        "opts" : {
            "id" : "marker0",
            "show" : true,
            "deleteTime": -1,
            "center": true,
            "title" :  "Chata Szamana",
            "content": "Dowolny tekst np.:"+
                       "<br>"+"'Ala ma kota...' lub link..."+
                       "<br>"+"<a href='https://earth.google.com/web/@53.20148086,18.0732792,98.06948195a,257.37618518d,35y,-0h,0t,0r' target='_blank'>...To jest Geoportal, a tak robią profesjonaliści</a>"
        }
      },
      { "sr": 4326,
        "x" : 18.07258284,
        "y" : 53.20145732,
        "opts" : {
            "id" : "marker1",
            "show" : false,   
            "deleteTime": -1,
            "title" :  "Chata Adasia",
            "content": "Lekko w bok"
        }
      }
    ]
  });
};


function myShowFunction() {
  ILITEAPI.showMarker(
    {
      "id" : "marker0",
      "scale": 1000
    });
  //alert('show')
};

function myDeleteFunction() {
  ILITEAPI.deleteMarker(
    {
      "id" : "marker0"
    });
  //alert('delete')
};


function geoClearFunction() {
  ILITEAPI.init({
    "divId" : "iapi",
    "width" : "100%",
    "height" : "51em",
    "activeGpMaps" : ["gp0","gp1"],
    "activeGpMapId" : "gp0",
    "gpplugins": ["clusterLayer"],
    "activeGpActions" : ["pan","fullExtent", "zoomIn"],
    "useMenu": true,
    "scale" : 2000000,

    "marker" : [
    ]
  });
};

// obsluga tabeli zs_points
function geoShowOneMarkerZS(row) {
  var myMarkers = [
    { "sr": 4326,
      "x" : row['zs_14'],
      "y" : row['zs_13'],
      "opts" : {
          "id" : "pointzs-"+row['id'],
          "show" : true,
          "title" :  "Obszar: "                             +row['zs_3'],
          "content": "Województwo: "                  +"<b>"+row['zs_4'] +"</b><br>"+
                     "Powiat: "                       +"<b>"+row['zs_5'] +"</b><br>"+
                     "gmina: "                        +"<b>"+row['zs_6'] +"</b><br>"+
                     "kod TERC: "                     +"<b>"+row['zs_7'] +"</b><br>"+
                     "Miejscowość: "                  +"<b>"+row['zs_8'] +"</b><br>"+
                     "kod SIMC: "                     +"<b>"+row['zs_9'] +"</b><br>"+
                     "Ulica: "                        +"<b>"+row['zs_10']+"</b><br>"+
                     "kod ULIC: "                     +"<b>"+row['zs_11']+"</b><br>"+
                     "Nr porządkowy: "                +"<b>"+row['zs_12'] +"</b><br>"+
                     "Szerokość geograficzna: "       +"<b>"+row['zs_13'] +"</b><br>"+
                     "Długość geograficzna: "         +"<b>"+row['zs_14'] +"</b><br>"+
                     "Rodzaj obiektu: "               +"<b>"+row['zs_15'] +"</b><br>"+
                     "Liczba lokali: "                +"<b>"+row['zs_16'] +"</b><br>"+
                     "Liczba placówek publicznych: "  +"<b>"+row['zs_17'] +"</b><br>"+
                     "Medium transmisyjne: "          +"<b>"+row['zs_18'] +"</b><br>"+
                     "Maks oferowana gwarantowana przepustowość stacjonarnego przewodowego dostępu do Internetu [Mb/s]: "               +"<b>"+row['zs_19']+"</b><br>"+
                     "Maks oferowana gwarantowana przepustowość stacjonarnego bezprzewodowego dostępu do Internetu [Mb/s]: "            +"<b>"+row['zs_20']+"</b><br>"+
                     "Maks. oferowana gwarantowana przepustowość stacjonarnego dostępu do Internetu dla jednostek oświatowych [Mb/s]: " +"<b>"+row['zs_21']+"</b><br><br><br>"+
                     "...Może tutaj linki do zdjęć z tego punktu?..."
      }
    }
  ];  
  ILITEAPI.showManyMarker(myMarkers)
};


function geoShowManyMarkersZS(filter) {
  var myMarkers = [];
  var table = $('#point_file-zs_points-table').DataTable();
  table.rows(filter).every( function ( rowIdx, tableLoop, rowLoop ) {
    var row = this.data();
    myMarkers.push(
      { "sr": 4326,
        "x" : row['zs_14'],
        "y" : row['zs_13'],
        "opts" : {
            "id" : row['id'],
            "show" : true,
            "title" :  "Obszar: "                             +row['zs_3'],
            "content": "Województwo: "                  +"<b>"+row['zs_4'] +"</b><br>"+
                       "Powiat: "                       +"<b>"+row['zs_5'] +"</b><br>"+
                       "gmina: "                        +"<b>"+row['zs_6'] +"</b><br>"+
                       "kod TERC: "                     +"<b>"+row['zs_7'] +"</b><br>"+
                       "Miejscowość: "                  +"<b>"+row['zs_8'] +"</b><br>"+
                       "kod SIMC: "                     +"<b>"+row['zs_9'] +"</b><br>"+
                       "Ulica: "                        +"<b>"+row['zs_10']+"</b><br>"+
                       "kod ULIC: "                     +"<b>"+row['zs_11']+"</b><br>"+
                       "Nr porządkowy: "                +"<b>"+row['zs_12'] +"</b><br>"+
                       "Szerokość geograficzna: "       +"<b>"+row['zs_13'] +"</b><br>"+
                       "Długość geograficzna: "         +"<b>"+row['zs_14'] +"</b><br>"+
                       "Rodzaj obiektu: "               +"<b>"+row['zs_15'] +"</b><br>"+
                       "Liczba lokali: "                +"<b>"+row['zs_16'] +"</b><br>"+
                       "Liczba placówek publicznych: "  +"<b>"+row['zs_17'] +"</b><br>"+
                       "Medium transmisyjne: "          +"<b>"+row['zs_18'] +"</b><br>"+
                       "Maks oferowana gwarantowana przepustowość stacjonarnego przewodowego dostępu do Internetu [Mb/s]: "               +"<b>"+row['zs_19']+"</b><br>"+
                       "Maks oferowana gwarantowana przepustowość stacjonarnego bezprzewodowego dostępu do Internetu [Mb/s]: "            +"<b>"+row['zs_20']+"</b><br>"+
                       "Maks. oferowana gwarantowana przepustowość stacjonarnego dostępu do Internetu dla jednostek oświatowych [Mb/s]: " +"<b>"+row['zs_21']+"</b><br><br><br>"+
                       "...Może tutaj linki do zdjęć z tego punktu?... "

        }
      }
    )
  });

  if ( myMarkers.length > 0 ) {
    ILITEAPI.showManyMarker(myMarkers);
  };
};


// obsluga tabeli ww_points
function geoShowOneMarkerWW(row) {
  
  var myMarkers = [
    { "sr": 4326,
      "x" : row['ww_15'],
      "y" : row['ww_14'],
      "opts" : {
           "id" : "pointww-"+row['id'],
           "show" : true,
           "title" :  "Wł. i współdz. węzły tel.: "    +row['ww_3'],
           "content": "Województwo: "                  +"<b>"+row['ww_4'] +"</b><br>"+
                      "Powiat: "                       +"<b>"+row['ww_5'] +"</b><br>"+
                      "gmina: "                        +"<b>"+row['ww_6'] +"</b><br>"+
                      "kod TERC: "                     +"<b>"+row['ww_7'] +"</b><br>"+
                      "Miejscowość: "                  +"<b>"+row['ww_8'] +"</b><br>"+
                      "kod SIMC: "                     +"<b>"+row['ww_9'] +"</b><br>"+
                      "Ulica: "                        +"<b>"+row['ww_10']+"</b><br>"+
                      "kod ULIC: "                     +"<b>"+row['ww_11']+"</b><br>"+
                      "Nr porządkowy: "                +"<b>"+row['ww_12'] +"</b><br>"+
                      "Kod pocztowy : "                +"<b>"+row['ww_13'] +"</b><br>"+
                      "Szerokość geograficzna: "       +"<b>"+row['ww_14'] +"</b><br>"+
                      "Długość geograficzna: "         +"<b>"+row['ww_15'] +"</b><br>"+
                      "Rodzaj węzła: "                 +"<b>"+row['ww_16'] +"</b><br><br><br>"+
                       "...Może tutaj linki do zdjęć z tego punktu?..."
      }
    }
  ];  
  ILITEAPI.showManyMarker(myMarkers)
};


function geoShowManyMarkersWW(filter) {
  var myMarkers = [];
  var table = $('#point_file-ww_points-table').DataTable();
  table.rows(filter).every( function ( rowIdx, tableLoop, rowLoop ) {
    var row = this.data();
    myMarkers.push(
      { "sr": 4326,
        "x" : row['ww_15'],
        "y" : row['ww_14'],
        "opts" : {
             "id" : "pointww-"+row['id'],
             "show" : true,
             "title" :  "Wł. i współdz. węzły tel.: "    +row['ww_3'],
             "content": "Województwo: "                  +"<b>"+row['ww_4'] +"</b><br>"+
                        "Powiat: "                       +"<b>"+row['ww_5'] +"</b><br>"+
                        "gmina: "                        +"<b>"+row['ww_6'] +"</b><br>"+
                        "kod TERC: "                     +"<b>"+row['ww_7'] +"</b><br>"+
                        "Miejscowość: "                  +"<b>"+row['ww_8'] +"</b><br>"+
                        "kod SIMC: "                     +"<b>"+row['ww_9'] +"</b><br>"+
                        "Ulica: "                        +"<b>"+row['ww_10']+"</b><br>"+
                        "kod ULIC: "                     +"<b>"+row['ww_11']+"</b><br>"+
                        "Nr porządkowy: "                +"<b>"+row['ww_12'] +"</b><br>"+
                        "Kod pocztowy : "                +"<b>"+row['ww_13'] +"</b><br>"+
                        "Szerokość geograficzna: "       +"<b>"+row['ww_14'] +"</b><br>"+
                        "Długość geograficzna: "         +"<b>"+row['ww_15'] +"</b><br>"+
                        "Rodzaj węzła: "                 +"<b>"+row['ww_16'] +"</b><br><br><br>"+
                       "...Może tutaj linki do zdjęć z tego punktu?..."
        }
      }
    )
  });

  if ( myMarkers.length > 0 ) {
    ILITEAPI.showManyMarker(myMarkers);
  };
};


