$(document).ready(function() {
  var oRoletable = $('#roles-table').DataTable({
    dom: 'lBfrtip',
    buttons: [
      {
        extend:    'copy',
        text:      '<span class="fa fa-clipboard"></span>',
        titleAttr: 'Kopiuj do schowka'
      },
      {
        extend:    'csv',
        text:      '<span class="fa fa-file-csv"></span>',
        titleAttr: 'Kopiuj do CSV'
      },
      {
        extend:    'colvis',
        text:      '<span class="fa fa-columns"></span>',
        titleAttr: 'Pokaż/ukryj kolumny',
        columns:   ':gt(0)' //exclude first col from list
      }
    ],
    responsive: true,
    processing: true,
    serverSide: true,
    deferRender: true,
    searchDelay: 500,
    ajax: { 
      url: $('#roles-table').data('source'),
      type: "GET",
      error: function (jqXHR, exception) {
        console.log(jqXHR);
        if (jqXHR.status == 401) {
          window.location.reload();
        } else {
          getErrorMessage(jqXHR, exception);
        }
      }
    },
    pagingType: "full_numbers",
    lengthMenu: [[10, 15, 25, 50, 100, -1], [10, 15, 25, 50, 100, "Wszystkie"]],
    columns: [
      { "data": "id",
        "visible": false }, 
      { "data": "name" }, 
      { "data": "special",
        "searchable": false },
      { "data": "note" },
      { "data": "activities" }
    ],
    order: [[ 1, "asc" ]],
    language: {
      // buttons: {
      //   copy: 'Kopiuj',
      //   colvis: 'Kolumny'
      // },
      url: '<%= asset_path("pl.json.erb") %>'
    }
  });


  var oUserRolestable = $('#user-roles-table').DataTable({
    dom: 'lBfrtip',
    buttons: [
      {
        extend:    'copy',
        text:      '<span class="fa fa-clipboard"></span>',
        titleAttr: 'Kopiuj do schowka'
      },
      {
        extend:    'csv',
        text:      '<span class="fa fa-file-csv"></span>',
        titleAttr: 'Kopiuj do CSV'
      },
      {
        extend:    'colvis',
        text:      '<span class="fa fa-columns"></span>',
        titleAttr: 'Pokaż/ukryj kolumny',
        columns:   ':gt(0)' //exclude first col from list
      }
    ],
    responsive: true,
    processing: true,
    serverSide: true,
    deferRender: true,
    searchDelay: 500,
    ajax: { 
      url: $('#user-roles-table').data('source'),
      type: "GET",
      error: function (jqXHR, exception) {
        console.log(jqXHR);
        if (jqXHR.status == 401) {
          window.location.reload();
        } else {
          getErrorMessage(jqXHR, exception);
        }
      }
    },
    pagingType: "full_numbers",
    lengthMenu: [[10, 15, 25, 50, 100, -1], [10, 15, 25, 50, 100, "Wszystkie"]],
    iDisplayLength: -1,
    columns: [
      { "data": "id", 
        "visible": false }, 
      { "data": "name" }, 
      { "data": "activities" }, 
      { "data": "has_role", 
        "sortable": false },
      { "data": "action", 
        "sortable": false }
    ],
    preDrawCallback: function( settings ) {
      // jezeli panel nie jest widoczny, to przerwij ładowanie danych
      if ( $( "#tab_roles" ).is( ":hidden" ) ) {
        return false;
      }
    },
    order: [[ 1, "asc" ]],
    language: {
      // buttons: {
      //   copy: 'Kopiuj',
      //   colvis: 'Kolumny'
      // },
      url: '<%= asset_path("pl.json.erb") %>'
    }
  });

  // jezeli nastepuje wyswietlenie tab, to zaladuj dane
  $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
    var target = $(e.target).attr("href") // activated tab
    if (target == '#roles') {
      oUserRolestable.draw();
    };
  });



  $('#user-roles-table tbody').on( 'click', 'button', function () {
      $.ajax({
        url: $(this).attr('ajax-path'),
        type: $(this).attr('ajax-method'),
        async: false,
        error: function (jqXHR, exception) {
          console.log(jqXHR);
          if (jqXHR.status == 401) {
            window.location.reload();
          } else {
            getErrorMessage(jqXHR, exception);
          }
        }
      });
      oUserRolestable.draw();
      toastr.options = {
        "closeButton": false,
        "debug": true,
        "newestOnTop": false,
        "progressBar": false,
        "positionClass": "toast-top-right",
        "preventDuplicates": false,
        "onclick": null,
        "showDuration": "100",
        "hideDuration": "1000",
        "timeOut": "5000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
      };
      toastr['success']($(this).attr('toastr-message'));
    });

});

