$(document).ready(function() {

  $.fn.dataTable.ext.buttons.through_events_attachment_reset_col_vis_and_reorder = {
    text: '<span class="text-primary fa fa-retweet"></span>',
    titleAttr: 'Przywróć domyślne ustawienia column',
    className: 'btn btn-sm btn-default',
    action: function ( e, dt, button, config ) {
      dt.columns(':gt(2)').visible(true);
      dt.colReorder.reset();
    }  
  };

  $.fn.dataTable.ext.buttons.through_events_attachment_delete_selected = {
    text: '<span class="text-danger fa fa-trash"></span>',
    titleAttr: 'Usuń zaznaczone wiersze',
    className: 'btn btn-sm btn-default',
    init: function ( dt, node, config ) {
      var that = this;
      dt.on( 'select.dt.DT deselect.dt.DT', function () {
        that.enable( dt.rows( { selected: true } ).any() );
      });
      this.disable();
    },
    action: function ( e, dt, button, config ) {
      if (confirm('Czy na pewno chcesz usunąć zaznaczone wiersze?')) {
        $.map(dt.rows( { selected: true } ).data(), function (item) {

          $.ajax({
            url: '/attachments/' + item.id,
            type: 'DELETE',
            async: true,
            success: function (response) {
              dt.draw();
              toastr['success'](item.name + '<br>...został trwale usunięty');
            },
            error: function (xhr, ajaxOptions, thrownError) {
              console.log(xhr);
              if (xhr.status == 401) {
                window.location.reload();
              } else {
                getErrorMessage(xhr, thrownError);
              }
            }
          });

        });
      }
    }  
  };

  $.fn.dataTable.ext.buttons.through_events_attachment_download_selected = {
    text: '<span class="text-primary fa fa-download"></span>',
    titleAttr: 'Pobierz zaznaczone wiersze',
    className: 'btn btn-sm btn-default',
    init: function ( dt, node, config ) {
      var that = this;
      dt.on( 'select.dt.DT deselect.dt.DT', function () {
        that.enable( dt.rows( { selected: true } ).any() );
      });
      this.disable();
    },
    action: function ( e, dt, button, config ) {
      $.map(dt.rows( { selected: true } ).data(), function (item) {

        alert('Cierpliwości! To też kiedyś zrobimy :)');

      });
    }  
  };


  var oThroughEventsAttachmentableAttachmentsTable = $('#through-events-attachmenable-attachments').DataTable({
    // dom: 'lBfrtip',
    dom: '<"top" <"row" <"col-sm-6" <"pull-left"l><"pull-left"B> > <"col-sm-6 pull-right"f> > > rt <"bottom"ip><"clear">',
    buttons: [
      'through_events_attachment_reset_col_vis_and_reorder',
      {
        extend:    'colvis',
        text:      '<span class="fa fa-columns"></span>',
        titleAttr: 'Pokaż/ukryj kolumny',
        className: 'btn btn-sm btn-default',
        columns:   ':gt(2)' //exclude first col from list
      }, 
      'through_events_attachment_delete_selected',
      'through_events_attachment_download_selected'
    ],
    select: {
      style: 'os',
      selector: 'td:first-child'
    },
    colReorder: {
      fixedColumnsLeft: 3      
    },
    rowReorder: {
      dataSrc: 'id',
      selector: 'td:nth-child(2)'
    },
    responsive: true,
    processing: true,
    serverSide: true,
    deferRender: true,
    searchDelay: 500,
    stateSave: true,
    stateDuration: 60 * 60 * 24 * 7,
    ajax: { 
      url: $('#through-events-attachmenable-attachments').data('source'),
      type: "GET",
      data: function(d){
        //d.attachment_parent_id = 8501;
        if (localStorage.getItem("ls_through_events_attachment_breadcrumb") === null) {
          d.attachment_parent_id = null
        } else {
          d.attachment_parent_id = JSON.parse(localStorage.getItem('ls_through_events_attachment_breadcrumb')).parent_id;
        }
      },
      error: function (jqXHR, exception) {
        console.log(jqXHR);
        if (jqXHR.status == 401) {
          window.location.reload();
        } else {
          getErrorMessage(jqXHR, exception);
        }
      }
    },
    pagingType: "full_numbers",
    lengthMenu: [[10, 15, 25, 50, 100, -1], [10, 15, 25, 50, 100, "Wszystkie"]],
    iDisplayLength: -1,
    columns: [
      {   
        "data": null, 
        "defaultContent": '',
        "sortable": false,
        "searchable": false,
        "className": 'select-checkbox',
        "orderable": false,
      },
      { "data": "id",
        "visible": false,
        "searchable": false,
        "sortable": false }, 
      { "data": "name" }, 
      { "data": "attachmenable" },
      { "data": "note" }, 
      { "data": "user" },
      { "data": "updated_at",
        "width": "130px" }, 
      { "data": "file_size",
        "searchable": false,
        "sortable": false,
        "width": "100px" },
      { "data": "action",
        "searchable": false,
        "sortable": false,
        "width": '50px' }
    ],
    preDrawCallback: function( settings ) {
      // jezeli panel nie jest widoczny, to przerwij ładowanie danych
      if ( $( "#tab_through_events_attachments" ).is( ":hidden" ) ) {
        return false;
      }
    },
    order: [[ 2, "asc" ]],
    language: {
      url: '<%= asset_path("pl.json.erb") %>'
    },
    stateSaveCallback: function(settings,data) {
      localStorage.setItem( 'DataTables_through-events-attachmenable-attachments_/all', JSON.stringify(data) )
    },
    stateLoadCallback: function(settings) {
      return JSON.parse( localStorage.getItem( 'DataTables_through-events-attachmenable-attachments_/all' ) )
    }
  });


  oThroughEventsAttachmentableAttachmentsTable
  .on( 'draw', function () {
    oThroughEventsAttachmentableAttachmentsTable.rows().deselect();
  });


  // jezeli nastepuje wyswietlenie tab, to zaladuj dane
  $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
    var target = $(e.target).attr("href") // activated tab
    if (target == '#through_events_attachments') {
      oThroughEventsAttachmentableAttachmentsTable.draw();
    };
  });


  // column 'action' delete button
  $('#through-events-attachmenable-attachments tbody').on( 'click', 'button-as-link', function () {
    if (confirm('Czy na pewno chcesz usunać?')) {
      $.ajax({
        url: $(this).attr('ajax-path'),
        type: $(this).attr('ajax-method'),
        async: true,
        success: function (response) {
          oThroughEventsAttachmentableAttachmentsTable.draw();
          toastr['success']('wiersz został trwale usunięty');
        },
        error: function (xhr, ajaxOptions, thrownError) {
          console.log(xhr);
          if (xhr.status == 401) {
            window.location.reload();
          } else {
            getErrorMessage(xhr, thrownError);
          }
        }
      });
    };
  });

  
});
