<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="center colored-title index-title"><%= archive_index_legend %></h3>
    </div> <!--/col-sm-12 -->
  </div> <!--/row -->
</div> <!--/container -->
