<br>
<div class="container-fluid"> 
  <div class="row">
    <div class="col-sm-2">
      <div class="center colored-title"><%= fa_icon("edit", size: '3x') %></div>
    </div>
    <div class="col-sm-10">
      <fieldset class="my-fieldset">
        <legend class="my-fieldset colored-title"><%= original_documentation_edit_legend(@original_documentation) %></legend>
        <%= render 'form', original_documentation: @original_documentation %>
      </fieldset>
    </div>

  </div>

</div>
