<br>
<div class="container-fluid"> 
  <div class="row">
    <div class="col-sm-2">
      <div class="center colored-title"><%= fa_icon("edit", size: '3x') %></div>
    </div>
    <div class="col-sm-10">
      <fieldset class="my-fieldset">
        <legend class="my-fieldset colored-title"><%= inspection_protocol_edit_legend(@inspection_protocol) %></legend>
        <%= render 'form', inspection_protocol: @inspection_protocol %>
      </fieldset>
    </div>

  </div>

</div>
