$('#inspection_protocol_file_preview_area').html('');
$('#inspection_protocol_file_preview_area').prepend('<div><%= image_tag @inspection_protocol.attached_file_url(:thumb), class: "img img-thumbnail" %></div>');
$('#inspection_protocol_file_preview_area').prepend('<div><strong>Plik:</strong> <%= @inspection_protocol.fullname %>, <%= @inspection_protocol.file_size %></div>');
